db.sqlite3
.env
/animaisapp/__pycache__/*
/apps/species/__pycache__/*
/apps/species/migrations/*
/apps/breeds/__pycache__/*
/apps/breeds/migrations/*
/apps/animals/__pycache__/*
/apps/animals/migrations/*
/apps/clients/__pycache__/*
/apps/clients/migrations/*
/__pycache__/*
