{% extends 'base.html' %}

{% block title %}
    {{ block.super }}
{% endblock title %}

{% block body %}

<section id="intro">
    <div class="container">
      <div class="row">
        <div class="col">
          <h1>ZooTe!<br></h1>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam
            malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
        </div>
 <div class="col img-col">
        <img src="img/capybara.png" class="img-fluid" alt="Capivara Gaúcha">
      </div>

      
      <style>
section {
  padding-top: 50px;
  padding-bottom: 50px;
}
section h1 {
  text-transform: uppercase;
  font-weight: 900;
  color: #2B9348;
  text-align: left;
  margin-bottom: 20px;
}
section p {
  font-size: 16px;
  font-weight: 300;
}

        </style>

      {% endblock body %}