{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}
    Adicionar Raça - {{ block.super }}
{% endblock title %}

{% block body %}
{% if messages %}
    <div class="alert alert-danger">
        <strong>Erro no formulário:</strong>
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

<section class="intro-forms">
    <div class="container mt-4">
        <h1 class="mb-4"><b>Cadastro de Raça</b></h1>
        <div class="row justify-content-center">
            <form class="row g-3 needs-validation" action="" method="POST" novalidate>
                {% csrf_token %}

                <div class="col-md-6">
                    <label for="{{ form.name.id_for_label }}" class="form-label">Nome</label>
                    {{ form.name|add_class:"form-control" }}
                    <div class="invalid-feedback">
                        Por favor, insira um nome.
                    </div>
                </div>

                <div class="col-md-6">
                    <label for="{{ form.specie.id_for_label }}" class="form-label">Espécie</label>
                    {{ form.specie|add_class:"form-control" }}
                    <div class="invalid-feedback">
                        Por favor, selecione uma espécie.
                    </div>
                </div>

                <div class="col-md-12">
                    <label for="{{ form.description.id_for_label }}" class="form-label">Descrição</label>
                    {{ form.description|add_class:"form-control" }}
                    <div class="invalid-feedback">
                        Por favor, insira uma descrição.
                    </div>
                </div>


                <button type="submit" class="btn btn-success">Salvar</button>
            </form>
        </div>
    </div>
</section>

<script>
    (function () {
      'use strict'
      var forms = document.querySelectorAll('.needs-validation')

      Array.from(forms).forEach(function (form) {
         form.addEventListener('submit', function (event) {
            if (!form.checkValidity()) {
               event.preventDefault()
               event.stopPropagation()
            }

            form.classList.add('was-validated')
         }, false)
      })
   })()
</script>
{% endblock body %}
