{% extends 'base.html' %}

{% block title %}

    Lista de Raça - {{ block.super }}

{% endblock title %}

{% block body %}

    <div class="container">
        <br />
        <h5><b>Lista de Raças</b></h5>
        <div class="row">
            <div class ="col-md-12">
                <br />
                    <a href="{% url 'breeds:add_breed' %}">Cadastro de nova raça</a>
                <br />
                <br />
                <table class="table table-hover">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Espécie</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for breed in breeds %}
                        <tr>
                            <th scope="row">{{ breed.id }}</th>
                            <td>{{ breed.name }}</td>
                            <td>{{ breed.description }}</td>
                            <td>{{ breed.specie }}</td>
                            <td>
                                <a href="{% url 'breeds:edit_breed' breed.id %}" class="btn btn-primary btn-sm">Editar</a>
                            </td>
                            <td>
                                <a href="{% url 'breeds:delete_breed' breed.id %}" class="btn btn-danger btn-sm ">Excluir</a>
                            </td>
                        </tr> 
                    {% endfor %}
                </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock body %}