{% extends 'base.html' %}
{% load widget_tweaks %} 

{% block title %}

    Adicionar Solicitação - {{ block.super }}

{% endblock title %}

{% block body %}

    <div class="container">
        <br />
    <h5><b>Cadastro de Solicitação</b></h5>
        <div class="row">
            <div class ="col-md-12">
                <form action="" method="POST">
                {% csrf_token %}
                <div class="form-group">
                   <label for="{{ form.status.id_for_label }}">Status</label>
                   {{ form.status|add_class:"form-control" }}
                </div>
                <div class="form-group">
                    <label for="{{ form.client.id_for_label }}">Cliente</label>
                    {{ form.client|add_class:"form-control" }}
                 </div>
                <div class="form-group">
                    <label for="{{ form.animal.id_for_label }}">Animal</label>
                    {{ form.animal|add_class:"form-control" }}
                 </div>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </form>
            </div>
        </div>
    </div>

{% endblock body %}