{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}
    Adicionar Solicitação - {{ block.super }}
{% endblock title %}

{% block body %}
<section class="intro-forms">
    <div class="container mt-4">
        <h1 class="mb-4"><b>Cadastro de Solicitação</b></h1>
        <div class="row justify-content-center">
            <form class="row g-3 needs-validation" action="" method="POST" novalidate>
                {% csrf_token %}

                <div class="col-md-2">
                    <label for="{{ form.status.id_for_label }}" class="form-label disabled">Status</label>
                    {{ form.status|add_class:"form-control" }}
                    <div class="invalid-feedback">
                        Por favor, selecione um status.
                    </div>
                </div>

                <div class="col-md-4">
                    <label for="{{ form.client.id_for_label }}" class="form-label">Cliente</label>
                    {{ form.client|add_class:"form-control" }}
                    <div class="invalid-feedback">
                        Por favor, selecione um cliente.
                    </div>
                </div>

                <div class="col-md-4">
                    <label for="{{ form.animal.id_for_label }}" class="form-label">Animal</label>
                    {{ form.animal|add_class:"form-control" }}
                    <div class="invalid-feedback">
                        Por favor, selecione um animal.
                    </div>
                </div>

                <button type="submit" class="btn btn-success">Salvar</button>
            </form>
        </div>
    </div>
</section>

    <script>
        (function () {
          'use strict'
          var forms = document.querySelectorAll('.needs-validation')
    
          Array.from(forms).forEach(function (form) {
             form.addEventListener('submit', function (event) {
                if (!form.checkValidity()) {
                   event.preventDefault()
                   event.stopPropagation()
                }
    
                form.classList.add('was-validated')
             }, false)
          })
       })()
    </script>
{% endblock body %}
