{% extends 'base.html' %}

{% block title %}
Lista de Solicitação - {{ block.super }}
{% endblock title %}

{% block body %}
<section id="intro" class="intro">
    <div class="container">
        <div class="d-flex justify-content-between align-items-start">
            <h1 class="flex-grow-1"><b>Solicitações pendentes</b></h1>
            <a class="btn btn-success" style="margin-top:3px;" href="{% url 'requests:add_request' %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-plus-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                    <path
                        d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z" />
                </svg>
                Cadastro de nova Solicitação
            </a>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Cliente</th>
                            <th scope="col">Animal</th>
                            <th scope="col">Criado em</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for request in pending_requests %}
                        <tr>
                            <td>{{ request.client }} </td>
                            <td>{{ request.animal }} </td>
                            <td>{{ request.created_at }} </td>
                            <td class="d-flex justify-content-end">
                                <div class="d-flex justify-content-end">
                                    {% if request.status == 'P' %}
                                    <a href="#" class="btn btn-success btn-sm me-2" data-bs-toggle="modal"
                                        data-bs-target="#confirmAccept{{ request.id }}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
                                            <path
                                                d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0" />
                                            <path
                                                d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z" />
                                        </svg>
                                        Aceitar
                                    </a>
                                    <a href="#" class="btn btn-danger btn-sm me-2" data-bs-toggle="modal"
                                        data-bs-target="#confirmDecline{{ request.id }}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                                            <path
                                                d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                                            <path
                                                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
                                        </svg>
                                        Recusar
                                    </a>
                                    {% endif %}
                                    <button type="button" class="btn btn-danger btn-sm me-2" data-bs-toggle="modal"
                                        data-bs-target="#confirmDelete{{ request.id }}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                            <path
                                                d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
                                        </svg> Excluir
                                    </button>
                                </div>
                            </td>
                        </tr>

                        <!-- Modal de Confirmação de Aceitar -->
                        <div class="modal fade" id="confirmAccept{{ request.id }}" tabindex="-1"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Confirmar Aceitar</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Você tem certeza de que deseja aceitar esta solicitação?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Cancelar</button>
                                        <a href="{% url 'requests:accept_request' request.id %}"
                                            class="btn btn-success">Aceitar</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Modal de Confirmação de Recusar -->
                        <div class="modal fade" id="confirmDecline{{ request.id }}" tabindex="-1"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Confirmar Recusar</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Você tem certeza de que deseja recusar esta solicitação?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Cancelar</button>
                                        <a href="{% url 'requests:decline_request' request.id %}"
                                            class="btn btn-danger">Recusar</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Modal de Confirmação de Exclusão -->
                        <div class="modal fade" id="confirmDelete{{ request.id }}" tabindex="-1"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Confirmar Exclusão</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Você tem certeza de que deseja excluir esta solicitação? Essa ação não pode
                                            ser desfeita.</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Cancelar</button>
                                        <a href="{% url 'requests:delete_request' request.id %}"
                                            class="btn btn-danger">Excluir</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </tbody>
                </table>

                <h1>Solicitações Finalizadas</h1>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Resultado</th>
                            <th scope="col">Cliente</th>
                            <th scope="col">Animal</th>
                            <th scope="col">Criado em</th>
                            <th scope="col">Finalizado em</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for request in finished_requests %}
                        <tr>
                            <td>{{ request.get_status_display }}</td>
                            <td>{{ request.client }} </td>
                            <td>{{ request.animal }} </td>
                            <td>{{ request.created_at }} </td>
                            <td>{{ request.finished_at }} </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<script>
</script>
{% endblock body %}